{% extends "base/base.html" %}


{% block title %}Все компьютеры{% endblock %}


{% block content %}


<head>
  <style>
      /* Изменение шрифта для таблицы */
      table {
          font-family: Arial, sans-serif;
           /* Новый шрифт */
          /* Другие стили таблицы */
      }
      .table th, .table td {
        max-width: 90px; /* Задайте максимальную ширину для ячеек */
      }
      td {
          font-size: 10px; /* Размер шрифта для заголовков и данных таблицы */
          /* Другие стили для ячеек таблицы */
      }
          th {
            text-align: center; /* Выравнивание текста в надписях по центру */
            font-size: 11px; /* Размер шрифта для заголовков и данных таблицы */
          /* Другие стили для ячеек таблицы */
      }
  </style>
</head>




<div class="row">
  <div class="col-12">

    <div class="table-responsive">
      <table class="table table-hover table-shadow table-rounded">
        <thead>
          <tr>
            <th scope="col" >Пользователь</th>
            <th scope="col" >Учетное имя</th>
            <th scope="col" >Расположение</th>
            <th scope="col" >Название</th>
            <th scope="col" >Модель</th>
            <th scope="col" >Год выпуска, дата ввода</th>
            <th scope="col" >Заводской номер</th>
            <th scope="col" >Инвентарный номер</th>
            <th scope="col" >Сервисный номер</th>
            <!-- <th scope="col" >Стоимость</th> -->
            <!-- <th scope="col" >Номер формуляра</th> -->
            <th scope="col" >Состояние</th>
            <th scope="col" >Описание</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for tuple in data %}
            {% set object = tuple %}
              {% if object.department_arm == worker.department %}
                {% for tuple2 in data_worker %}
                  {% if tuple2.id == object.id_worker %}
                    {% set varUserName = tuple2.name %}
                    {% set varUserId = tuple2.id %}

                    <tr class="table-success">
                      <td>
                        <div style="display: flex;">
                          <span style="padding: 5px; 
                            {% if varUserName == 'Нет пользователя' %}
                              background-color: #ff0000; 
                            {% else %}
                              background-color: #0b79c2; 
                            {% endif %}
                            color: white;">
                            {{varUserName}}
                          </span>
                        </div>
                      </td>
                      <td>{{ object.title }}</td>
                      <td>{{ object.location }}</td>
                      <td>{{ object.name }}</td>
                      <td>{{ object.model }}</td>
                      <td>{{ object.release }}</td>
                      <td>{{ object.num_serial }}</td>
                      <td>{{ object.num_invent }}</td>
                      <td>{{ object.num_service }}</td>
                      <!-- <td>{{ object.price }}</td> -->
                      <!-- <td>{{ object.formular }}</td> -->
                      <td>{{ object.state }}</td>
                      <!-- <td>{{ object.description }}</td> -->
                      <td {% if object.description == "Буферный компьютер" %}style="color: orange;"{% elif object.description == "Абонентский терминал" %}style="color: blue;"{% elif object.description == "Рабочий компьютер" %}style="color: green;"{% endif %}>{{ object.description }}</td>
                      
                    </tr>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function deleteArm(Id) {
    if (confirm('Вы уверены, что хотите удалить этого пользователя?')) {
      // Здесь вы можете выполнить AJAX-запрос для удаления пользователя
      console.log('Deleting worker with ID:', Id);
      // Например, можно использовать fetch для отправки запроса на сервер
      fetch(`/arm/${Id}`, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          // Перезагрузка страницы или обновление таблицы после успешного удаления
          location.reload();
        } else {
          alert('Ошибка при удалении пользователя.');
        }
      }).catch(error => {
        console.error('Error:', error);
        alert('Ошибка при удалении пользователя.');
      });
    }
  }
</script>

<script>
  var card = document.querySelector('.card');
  var modal = document.getElementById('myModal');
  var closeBtn = document.querySelector('.close');

</script>

{% include "arms/modal_mode.html" %}
{% include "arms/modal_create.html" %}
{% include "arms/scripts.html" %}


{% endblock %}
