<!-- Modal -->
<div class="modal fade" id="modal_update" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_update">Изменение пользователя</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- скрытое поле для хранения значения -->
          <div>
            <input type="hidden" id="worker-id">
          </div>

          <!-- поля значений -->
          <div class="mb-3">
            <label for="worker-role" class="col-form-label">Роль: </label>
            <select class="form-control" id="worker-role">
              <option value="guest">Пользователь</option>
              <option value="user">Ответственный</option>
              <option value="admin">Администратор</option>
              <!-- Добавьте дополнительные элементы, если нужно -->
            </select>
          </div>
          <div class="mb-3">
            <label for="worker-department" class="col-form-label">Подразделение: </label>
            <input type="text" class="form-control" id="worker-department">
          </div>          
          <div class="mb-3">
            <label for="worker-name" class="col-form-label">Логин:</label>
            <input type="text" class="form-control" id="worker-name">
          </div>
          <div class="mb-3">
            <label for="worker-fio" class="col-form-label">Имя:</label>
            <input type="text" class="form-control" id="worker-fio">
          </div>
          <div class="mb-3">
            <label for="worker-password" class="col-form-label">Пароль: (Оставьте пустым, если не хотите менять)</label>
            <input type="text" class="form-control" id="worker-password">
          </div>
          <div class="mb-3">
            <label for="worker-position" class="col-form-label">Должность:</label>
            <input type="text" class="form-control" id="worker-position">
          </div>
          <div class="mb-3">
            <label for="worker-description" class="col-form-label">Телефон:</label>
            <input type="text" class="form-control" id="worker-description">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>