<style>
  .navbar {
    padding: 10px 0;
  }

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 120px;
    white-space: normal;
    line-height: 1.2;
  }

  .navbar-brand img {
    margin-bottom: 5px;
    max-height: 40px;
  }

  .user-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 991px) {
    .container-fluid {
      flex-direction: row;
      justify-content: space-between;
    }

    .navbar-brand, .user-info {
      margin-bottom: 10px;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="/">
      <img src="/frontend/assets/img/logo_min.jpg" alt="Инвентарный учет Logo" id="brand-logo">
      <span>На главную</span>
    </a>
    <a class="navbar-brand" href="/logout">
      <img src="/frontend/assets/img/icon_exit.jpg" alt="Выход" id="exit">
      <span>Выйти</span>
    </a>
  </div>
</nav>