{% extends "base/base.html" %}


{% block title %}Все компьютеры{% endblock %}


{% block content %}


<head>
  <style>
      /* Изменение шрифта для таблицы */
      table {
          font-family: Arial, sans-serif; /* Новый шрифт */
          /* Другие стили таблицы */
      }
      td {
          font-size: 11px; /* Размер шрифта для заголовков и данных таблицы */
          /* Другие стили для ячеек таблицы */
      }
          th {
            text-align: center; /* Выравнивание текста в надписях по центру */
            font-size: 14px; /* Размер шрифта для заголовков и данных таблицы */
          /* Другие стили для ячеек таблицы */
      }
  </style>
</head>

<!-- карточка для создания -->
<div class="d-flex flex-wrap justify-content-center align-items-center">
  <a class="nav-link " href="#"
  data-bs-toggle="modal"
  data-bs-target="#modalCreateArm" 
  data-bs-department-arm= "{{worker.department}}"
  >
    <div class="card" style="width: 18rem; margin: 10px;">
      <img src="../assets/img/arm.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Создать новый компьютер</h5>
    </div>
  </a>
</div>


<div class="row">
  <div class="col-12">
    <!-- Заголовок таблицы-->
    <h3 class="mb-4"></h3>
    <h3 class="mb-4">Компьютеры: {{ worker.department }}</h3>
    <!-- Таблица -->
    <div class="table-responsive">
      <table class="table table-hover table-shadow table-rounded">
        <thead>
          <tr>
            <th scope="col" >Пользователь</th>
            <th scope="col" >Учетное имя</th>
            <th scope="col" >Расположение</th>
            <th scope="col" >Название</th>
            <th scope="col" >Модель</th>
            <th scope="col" >Год выпуска</th>
            <th scope="col" >Заводской номер</th>
            <th scope="col" >Инвентарный номер</th>
            <th scope="col" >Сервисный номер</th>
            <th scope="col" >Стоимость</th>
            <th scope="col" >Номер формуляра</th>
            <th scope="col" >Состояние</th>
            <th scope="col" >Описание</th>
            <th scope="col" >Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for tuple in data %}
            {% set object = tuple %}
              {% if object.department_arm == worker.department %}
                {% for tuple2 in data_worker %}
                  {% if tuple2.id == object.id_worker %}
                    <tr class="table-success">
                      <td>
                        <!-- Кнопка для выбора -->
                        <div style="display: flex;">
                          <!-- Выделенный текст -->
                          <span style="background-color: #0b79c2; color: white; padding: 5px;">
      
                                {% set varUserName = tuple2.name %}
                                {{varUserName}}

                            </span>
                        </div>
                      </td>
                      <td>{{ object.title }}</td>
                      <td>{{ object.location }}</td>
                      <td>{{ object.name }}</td>
                      <td>{{ object.model }}</td>
                      <td>{{ object.release }}</td>
                      <td>{{ object.num_serial }}</td>
                      <td>{{ object.num_invent }}</td>
                      <td>{{ object.num_service }}</td>
                      <td>{{ object.price }}</td>
                      <td>{{ object.formular }}</td>
                      <td>{{ object.state }}</td>
                      <td>{{ object.description }}</td>
                      <td>
                        <!-- Кнопка для редактирования -->
                        <div style="display: flex;">
                          <button type="button" class="btn btn-primary btn-sm" style="background-color: #3498db; color: white; font-size: 12px;"
                            data-bs-toggle="modal" 
                            data-bs-target="#modalUpdate"
                            data-bs-id="{{object.id}}"
                            data-bs-user="{{varUserName}}" 
                            data-bs-title="{{object.title}}"
                            data-bs-location="{{object.location}}"
                            data-bs-name="{{object.name}}"
                            data-bs-model="{{object.model}}"
                            data-bs-release="{{object.release}}"
                            data-bs-num_serial="{{object.num_serial}}"
                            data-bs-num_invent="{{object.num_invent}}"
                            data-bs-num_service="{{object.num_service}}"
                            data-bs-price="{{object.price}}"
                            data-bs-formular="{{object.formular}}"
                            data-bs-state="{{object.state}}"
                            data-bs-description="{{object.description}}"
                            data-bs-workerdepartment= "{{worker.department}}"
                            >
                            Редактировать
                          </button>
                          <!-- Кнопка для удаления -->
                          <button type="button" class="btn btn-danger btn-sm" style="color: white; font-size: 12px;" 
                            onclick="deleteArm('{{ object.id }}')">
                            Удалить
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function deleteArm(Id) {
    if (confirm('Вы уверены, что хотите удалить этого пользователя?')) {
      // Здесь вы можете выполнить AJAX-запрос для удаления пользователя
      console.log('Deleting worker with ID:', Id);
      // Например, можно использовать fetch для отправки запроса на сервер
      fetch(`/arm/${Id}`, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          // Перезагрузка страницы или обновление таблицы после успешного удаления
          location.reload();
        } else {
          alert('Ошибка при удалении пользователя.');
        }
      }).catch(error => {
        console.error('Error:', error);
        alert('Ошибка при удалении пользователя.');
      });
    }
  }
</script>

<script>
  var card = document.querySelector('.card');
  var modal = document.getElementById('myModal');
  var closeBtn = document.querySelector('.close');

</script>

{% include "arms/modal_mode.html" %}
{% include "arms/modal_create.html" %}
{% include "arms/scripts.html" %}


{% endblock %}
